// Layout
$base-line-height: 1.61803398875rem; //= 25.89px or 32.36px on large
$spacing: $base-line-height; // Works out at 1.5em or 24px. Used for paddings and margins
$max-page-width: $spacing*40;

// Spacing 

$spacing-fourth: $base-line-height/4;
$spacing-third: $base-line-height/3;
$spacing-fifth: $base-line-height/5;
$spacing-half: $base-line-height/2;
$spacing-one-and-half: $base-line-height*1.5;
$spacing-double: $base-line-height*2;
$spacing-triple: $base-line-height*3;

// Fonts 
$heading-font-family: 'Roboto', sans-serif;
$heading-font-weight: 400;
$body-font-family: 'Lora', serif;
$body-font-size: 1em;
$body-font-weight: 400;
$link-font-family:  'Roboto', sans-serif;

// Colors

$primary-color: #D23014;
$primary-color-dark: #AA1F05;
$secondary-color: #F46144;
$secondary-color-dark:  #9A393C;

$white-color: #FFFDFC;
$heading-text-color:   rgba(0,0,0,.84);
$small-text-color: rgba(0,0,0,.54);
$caption-text-color: rgba(0,0,0,.54);
$default-text-color: #4B122A;
$link-text-color: $secondary-color;
$link-text-color-hover: $secondary-color-dark;



$button-color: $primary-color;
$button-color-hover: $primary-color-dark;
$button-text-color: $default-text-color;

// Borders 
$block-border: 1px solid $button-color;

// Screen sizes (styles apply to anything less than $tablet by default)
$tablet: 600px;
$desktop: 800px;