.post-meta {    
    font-size: 0.764em;
    line-height: 1.963em;
    margin-bottom: $spacing-half;
    display: flex;
    flex-wrap: wrap;
    .post-meta__reading-time {
        margin-right: $spacing-half;
    }
}

.post-headline {
    font-size: 1.375em;
    line-height: 1.0909em;
    margin-bottom: $spacing-third;
    @include tablet {
        font-size: 1.618em;
        line-height: 1em;
    }
}