.page-introduction {
    margin-top: ms(1);
    margin-bottom: ms(1);
}

.post-meta {
    font-family: $link-font-family;
    margin-bottom: 24px;
    margin-right: 24px;
    display: flex;
    flex-wrap: wrap;
    .post-meta__reading-time {
        margin-right: 24px;
    }
}

.post-content {
    a {
        font-family: $default-font-family;
    }
}