// Overall container
/*.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: $spacing;
} */

.container--site-header {
    display: flex;
    height: $spacing-triple;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    @include tablet {
        height: $spacing-double;
        flex-direction: row;
    }
}

// Header
.site-header {
    padding: $spacing-half 0;
    border-bottom: 1px solid #e8e8e8;
}

// Site logo styles
.site-logo {
    margin-right: auto;
}

.site-logo-svg {
    height: 2em;
}

// Navigation styles
.site-navigation {
    &__menu {
        list-style: none;
        margin: 0;
        display: flex;
    }
    &__item {
        margin-left: $spacing-half;
        margin-bottom: 0;
        @include tablet {
            margin-left: $spacing;
        }
    }
    &__link {
        font-family: $link-font-family;
        text-decoration: none;
        color: $link-text-color;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.5em;
    }
}

.site-navigation__item:first-child {
    margin-left: 0;
}