// Overall container
/*.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: $spacing;
} */

// Header
.site-header { 
    padding: $spacing-half 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e8e8e8;
}

// Site logo styles
.site-logo {
    font-family: $heading-font-family;
    font-size: 1.236em;
    line-height: 1.5em;
    font-weight: 500;
    text-decoration: none;
    color: #222;
}

// Navigation styles
.site-navigation {
    &__menu {
        list-style: none;
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        margin-right: $spacing-half;
        margin-bottom: 0;
    }
    &__link {
        font-family: $link-font-family;
        text-decoration: none;
        color: #111;
        font-size: .85em;
        font-weight: 300;
        line-height: 1em;
    }
}