/* Spacing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

button,
.button {
    margin-bottom: 24px; }
input,
textarea,
select,
fieldset {
    margin-bottom: 24px; }
pre,
blockquote,
dl,
figure,
table,
form {
    margin-bottom: 24px; }

    