html {
    font-size: 100%;
    @include tablet {
        font-size: 125%;
    }
}

body {
  @include ms-respond(font-size,0);
  font-family: $default-font-family;
  color: $default-text-color;
}

p {
    margin-bottom: 24px;
  }

h1, h2, h3, h4, h5 {
    font-family: $heading-font-family;
    margin-bottom: 24px;
    font-weight: bold;
}

// Link text styles
a {
    font-family: $link-font-family;
    color: $link-text-color;
    text-decoration: none;
}
  a:hover {
    color: $link-text-color-hover;
    text-decoration: underline;
}

h1 {
  @include ms-respond(font-size,3);
    line-height: 1em; 
}

  h2 {
    @include ms-respond(font-size,2);
    line-height: 1.0909em;
  }
  
  h3 {
    @include ms-respond(font-size,1);
    line-height: 1.2em; 
  }
  
  h4 {
    @include ms-respond(font-size,1);
    line-height: 1.333em;
  }
  
  h5, h6 {
    @include ms-respond(font-size,1);
    line-height: 1.5em;
  }