$magic-line-height: 1.5em;
$scale-big: 10px;

html {
    font-size: 100%;
    @include tablet {
        font-size: 125%;
    }
}

body {
    line-height: 1.5em;
    font-family: $default-font-family;
    color: $default-text-color;
}

p {
    margin-bottom: 24px;
  }

h1, h2, h3, h4, h5 {
    font-family: $heading-font-family;
    margin-bottom: 24px;
    font-weight: bold;
}

// Link text styles
a {
    font-family: $link-font-family;
    color: $link-text-color;
    text-decoration: none;
}
  a:hover {
    color: $link-text-color-hover;
    text-decoration: underline;
}

h1 {
    font-size: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
    line-height: 1em; /* 24px --> 24 ÷ 24 = 1 */
  }
  
  h2 {
    font-size: 1.375em; /* 22px --> 22 ÷ 16 = 1.375 */
    line-height: 1.0909em; /* 24px --> 24 ÷ 22 = 1.090909(09) */
  } 
  
  h3 {
    font-size: 1.25em; /* 20px --> 20 ÷ 16 = 1.25 */
    line-height: 1.2em; /* 24px --> 24 ÷ 20 = 1.2 */
  }
  
  h4 {
    font-size: 1.125em; /* 18px --> 18 ÷ 16 = 1.125 */
    line-height: 1.333em; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
  }
  
  h5, h6 {
    font-size: 1em; /* 16px --> 16 ÷ 16 = 1 */
    line-height: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
  }

  