{{ define "main" }}
<main class="main" role="main">
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <div class="wrapper">

            <!-- Breadcrumbs -->
            {{ partial "breadcrumbs/breadcrumbs.html" . }}

            <section class="page-introduction">
                <h1 class="post-headline" itemprop="headline">{{ .Title }}</h1>
                <!-- Read time and publish or modification date -->
                {{ partial "post-meta.html" . }}
                <!-- Page featured image -->
                {{ if .Params.featured_image }}
                    <img class="lazyload post-featured-image" data-src="{{ .Params.featured_image }}" alt="{{ .Title }}" itemprop="image">
                {{ end }}
            </section>

            <!-- The content -->
            <section itemprop="articleBody">
                {{ .Content }}
            </section>

        <!-- End wrapper -->
        </div>
    </article>
</main>
{{ end }}