{{ define "main" }}
<main class="main" role="main" id="main">

    <!-- List introduction -->
    <div class="container">
        <!-- Breadcrumbs -->
        {{ partial "breadcrumbs/breadcrumbs.html" . }}
        <!-- Page title -->
        <h1 class="post-headline" itemprop="headline">{{ .Title }}</h1>
        <!-- Markdown content -->
        <div class="post-content">
            {{ .Content }}
        </div>
    </div>

    <div class="container">
        <section class="cards">
            <!-- Activate the pagination and then range through pages in blog -->
            {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
            {{ range $paginator.Pages }}
                <!-- Start flexcard for articles layout -->
                <article class="card" itemscope itemtype="http://schema.org/BlogPosting">
                    <div class="card__media--top">
                        <a href="{{ .RelPermalink }}" itemprop="url">
                            <img class="lazyload" data-src="{{ .Params.featured_image }}" alt="{{ .Title }}" itemprop="image">
                        </a>
                    </div>
                    <!-- Card content -->
                    <div class="card__content">
                        <!-- Card header -->
                        <h2 class="card__header"itemprop="headline">
                            <a class="card__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </h2>
                        <!-- Read time and publish date -->
                        {{ partial "post-meta.html" . }}
                        <!-- Card media -->
                        <div class="card__media--under">
                            <a href="{{ .RelPermalink }}" itemprop="url">
                                <img class="lazyload" data-src="{{ .Params.featured_image }}" alt="{{ .Title }}" itemprop="image">
                            </a>
                        </div>
                        <!-- Read description -->
                        <p class="card__description" itemprop="description">{{ .Params.description }}
                    <a href="{{ .RelPermalink }}" class="card__link" itemprop="url">Keep reading »</a></p>
                    </div>                
                    <!-- Meta tags for Google about the post-->
                    <meta itemprop="inLanguage" content="{{ .Site.LanguageCode }}">
                    <meta itemprop="datePublished" content="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.PublishDate)) }}">
                    <meta itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">
                <!-- End flexcard -->        
                </article>
            <!-- End second range loop -->
            {{ end }}
        </section>
        <!-- Pagination -->
        {{ partial "pagination.html" . }}
    <!-- End container -->
    </div>
<!-- End main -->    
</main>
<!-- End main insert -->
{{ end }}