<header class="site-header" role="banner">
    <div class="container">

        <div class="six columns">
            <a class="site-logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}
            </a>
        <!-- End six columns -->    
        </div>

        <div class="six columns">
            <nav class="site-navigation">
                <ul class="site-navigation__menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
                    <li class="site-navigation__item" itemprop="name">
                        <a class="site-navigation__link" href="/" itemprop="url">
                            Home
                        </a>
                    </li>
                    <li class="site-navigation__item" itemprop="name">
                        <a class="site-navigation__link" href="/blog/" itemprop="url">
                            Blog
                        </a>
                    </li>
                    <li class="site-navigation__item" itemprop="name">
                        <a class="site-navigation__link" href="/resources/" itemprop="url">
                            Resources
                        </a>
                    </li>
                    <li class="site-navigation__item" itemprop="name">
                        <a class="site-navigation__link" href="/gallery/" itemprop="url">
                            Gallery
                        </a>
                    </li>
                    <li class="site-navigation__item" itemprop="name">
                        <a class="site-navigation__link" href="/contact/" itemprop="url">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End six columns -->
        </div>
    <!-- End container -->
    </div>
<!-- End site-header -->    
</header>