{{ define "main" }}
<main class="main" role="main" id="main">
    <!-- Width container -->
    <div class="container container--home-intro">
        <div class="left-side">
            <!-- Page title -->
            <h1 class="post-headline post-headline--home" itemprop="headline">{{ .Params.description }}</h1>
            <!-- Markdown content -->
            <div class="post-content post-content--home">
                {{ .Content }}
            </div>
        </div>
    <div class="right-side">
        <img class="home-intro__image lazyload" data-src="/images/bio/john-lewell-colour-1.png" alt="John Lewell Bio Picture" itemprop="image">
    </div>
</div>
        
</div>
<!-- End main -->    
</main>
<!-- End main insert -->
{{ end }}