.breadcrumbs {
        font-family: $link-font-family; 
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 12px;
        padding: 0;
        list-style-type: none;
        @include tablet {
            margin-bottom: 24px;
        }
}

.breadcrumbs__item {
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 0;
    font-size: .85em;
    line-height: 24px;
    @include tablet {
        font-size: 1em;
    }
}