/*.site-breadcrumbs {
    max-width: $max-page-width;
    padding-left: $spacing;
    padding-right: $spacing;
    margin: $spacing*4 auto $spacing auto; // Pushes the page below that navigation
    font-family: $link-font-family; 
    font-weight: 300;
    color: #333;
}*/
 
.breadcrumbs {
    display: none;
    @include tablet {
        display: flex;
        margin-bottom: $spacing-fourth;
        padding: 0;
        list-style-type: none;
    }
}

.breadcrumbs__link {
    font-family: $link-font-family; 
    font-weight: 300;
    color: #333;
}

.breadcrumbs__item {
    display: inline-block;
    margin-right: $spacing-third;
}