/*.site-breadcrumbs {
    max-width: $max-page-width;
    padding-left: $spacing;
    padding-right: $spacing;
    margin: $spacing*4 auto $spacing auto; // Pushes the page below that navigation
    font-family: $link-font-family; 
    font-weight: 300;
    color: #333;
}*/
 
.breadcrumbs {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $spacing;
        padding: 0;
        list-style-type: none;
}

.breadcrumbs__link {
    font-family: $link-font-family; 
    font-weight: 300;
    color: #333;
}

.breadcrumbs__item {
    display: inline-block;
    margin-right: $spacing-third;
    margin-bottom: 0;
    font-size: .85em;
        font-weight: 300;
        line-height: 1.5em;
        @include tablet {
            font-size: 1em;
            line-height: $base-line-height;
        }
}