/* Flexcards */

.card {
    display: flex;
    margin-bottom: $spacing;
    flex-direction: row;
}

/* The top feature card of every page */

.card:first-child {
    flex-direction: column;
    margin-bottom: $spacing-half;
    .card__header {
        margin-bottom: $spacing-fifth;
    }
    .post-meta {
        margin-bottom: $spacing-half;
        font-size: 0.764em;
        line-height: 1.963em;
    }
    .card__link {
        text-decoration: none;
    }
    .card__description {
        font-size: 1em;
        margin-bottom: 0;
    }
    .card__media--top {
        display: none;
    }
    .card__media--under {
        margin-bottom: $spacing/4;
    }
}

/* The cards underneath the feature card */

.card:not(:first-child) {
    flex-direction: row;
    margin-bottom: $spacing-half;
    .card__media--under {
        display: none;
        margin-bottom: 0;
    }
    .card__media--top {
        margin-right: $spacing-half;
        max-width: 33.333%;
    }
    .card__header { 
        font-size: 1em;
        line-height: 1.5em;
        margin-bottom: 0;
        @include tablet {
            font-size: 1.125em;
            line-height: 1.333em;
        }
    }    
    .card__description {
        display: none;
        margin-bottom: 0;
        @include tablet {
            display: block;
            margin-bottom: 0;
        }
    }    
    .post-meta {
        margin-bottom: 0;
        font-size: 0.764em;
        line-height: 1.963em;
    }
    .post-meta__date {
        display: none;
    }
    .card__link {
        text-decoration: none;
    }
}