/* Flexcards */

.card {
    display: flex;
    margin-bottom: 24px;
    flex-direction: row;
}

.card__link:hover {
text-decoration: none;
}

.card__link--read-more {
    font-family: $default-font-family;
    &:hover {
        text-decoration: underline;
    }
}

/* The top feature card of every page */

.card:first-child {
    margin-bottom: 48px;
    flex-direction: column;
    .card__header {
        margin-bottom: 12px;
    }
    .post-meta {
        margin-bottom: 24px;
    }
    .card__description {
        font-size: 1em;
        margin-bottom: 0;
    }
    .card__media--top {
        display: none;
    }
    .card__media--under {
        margin-bottom: 24px;
    }
}

/* The cards underneath the feature card */

.card:not(:first-child) {
    flex-direction: row;
    .card__media--under {
        display: none;
        margin-bottom: 0;
    }
    .card__media--top {
        margin-right: 24px;
        max-width: 33.333%;
    }
    .card__header {
        margin-bottom: 12px;
    }    
    .card__description {
        display: none;
        margin-bottom: 0;
        @include tablet {
            display: block;
        }
    }
    .post-meta {
        margin-bottom: 12px;
    }
    .post-meta__date {
        display: none;
    }
}
