.pagination {
    max-width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    border: $block-border;
    &__item {
        margin-bottom: 0;
        padding: $spacing-half;    
    &:hover {
        background:#F4F5FA;
        }
    }
    &__item--current {
        background: #F4F5FA;
    }
    &__link {
        text-decoration: none;
        color: $button-text-color;
    }
}

